:root {
  --brand-primary: #F7B500;
}

* {
  box-sizing: border-box;
}
figure.element {
  margin-top: 0 !important;
}

// body {
//   font-family: "TS3 Text Sans";
//   background: #000;
//   color: white;
//   height: auto !important;
// }
.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.flex-container {
  display: flex;
  position: relative;

  &.f-row {
    flex-direction: row;
  }

  &.f-end {
    justify-items: end;
  }
}

#Live {
  margin-top: 5vh;
}
.share {
  padding-top: 2rem;
}
.text-bg1 {
  padding: 1rem 2rem 0 0;
  // margin: 2rem 0;
  color: white;
  --shadow-color: #000;
  span {
      line-height: 1.3;
      // padding: 4px 0;
      box-shadow: -20px 0px 0 2px var(--shadow-color), 20px 0px 0 2px var(--shadow-color), 0 0 0 2px var(--shadow-color);
      box-decoration-break: clone;
      background-color: var(--shadow-color);
  }
  .quote {
      background-color: #000;
  }
  .attrib {
      background-color:var(--primary-color);
      --shadow-color: var(--primary-color);
      color: black;
      font-style: italic;
      margin-left: 10px;
  }
  
}
.text-fill-bg {
  text-decoration: none;
  text-transform: none;
  font-weight: 400;
  padding: 1rem 2rem 2rem;
  margin-bottom: 0;
  margin-top: 2rem;
  // margin: 2rem 0;
  color: white;
  --shadow-color: var(--brand-primary);
  position: relative;
  span {
      line-height: 1.4;
      // padding: 4px 0;
      box-shadow: -10px 0px 0 2px var(--shadow-color), 10px 0px 0 2px var(--shadow-color), 0 0 0 2px var(--shadow-color);
      box-decoration-break: clone;
      background-color: var(--shadow-color);
      font-weight: 400;
  }
  .quote {
      background-color: #000;
  }
  .attrib {
      background-color:var(--primary-color);
      --shadow-color: var(--primary-color);
      color: black;
      font-style: italic;
      margin-left: 10px;
  }

  &::before {
    content: '“';
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    font-size: 97/16 + rem;
    position: absolute;
    left: 1rem;
    top: -2.4rem;
    color: black;
  }
  

}
// .audio-player {
  // margin: auto;
  // width: 80%;
  // @include mq(tablet) {
  //     width: 80%;

  // }
  // @include mq(desktop) {
  //     width: 60%;

  // }
// }

.container {
  // max-width: 1200px;
  // margin: 0 auto 5vh;
}

h1, h2 {
  line-height: 1.2;
  font-family: "Display Sans", serif;
  color: white;
  
  span {
    font-weight: 700;
    font-family: "Display Sans", serif;
  }
}
h1 {
  font-size: 30/16 + rem;
  text-decoration: underline;
  font-weight: 700;
  @include mq(tablet) {
    font-size: 40/16 + rem;
  }
}

h2 {
  line-height: 1.2;
  font-weight: normal;
  font-size: 26/16 + rem;
}

q {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  display: block;
  &::before, &::after {
    content: '';
  }
  span {
    display: block;
    padding: 0.8rem 0 0.5rem;
  }
}

.d-flex {
  display: flex;
  &.d-center {
      justify-content: center;
      align-items: center;
  }
}

.loading {
  height: 100vh;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.mw-100 {
  max-width: 100%;
}

#Glabs {
  // visibility: hidden;
  // opacity: 0;
  background-color: #F0E7D9;
  // > div {
  //   background-color: #FFEAB0;
    color: #000;
  // }
}

.dark-text {
  color: #0D1136;
}

.light-text {
  color: white;
}

.scroll-icon {
  text-align: center;
  margin: 2rem 0 0;
  fill: white;
  stroke: white;
  position: relative;
}
header {
  overflow: hidden;
  .flex-container {
    height: 90vh;
    align-items: flex-end;
  }
  video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // mix-blend-mode: screen;
  }
  .bg {
    // position: absolute;
    min-height: 80vh;
    // width: 120vw;
    // background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    // border: 10px solid #FFB321;
    @include mq($until: desktop) {
      background-position: 50%;
    }
  }

  .title {
    position: relative;
    background-color: var(--brand-primary);
    // margin-left: 10%;
    padding: 2rem;
    max-width: 40rem;
    p {
      // color: white;
      padding-bottom: 2rem;
      padding-right: 2rem;
    }
    @include mq(tablet) {
      margin: auto;
      // p  {
      //   padding-right: 8rem;
      // }
    }
    // @include mq(desktop) {
    //   max-width: 50%;
    // }
  }

  .subhead {
    @include mq(tablet) {
      padding-top: 2rem;
      // text-align: center;
    }
  }

  .client {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 2rem;
    color: white;
    z-index: 2;
    img {
      display: inline-block;
      vertical-align: middle;
      padding-left: 1rem;
    }
    &>p {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      svg {
        width: 80px;
      }
    }
  }
  .about-content {
    a {
      color: white;
      font-size: 70%;

    }
    text-align: right;
  }
}

.w-90p {
  width: 90%;
}

.m-auto {
  margin: auto;
}

@include mq($until: tablet) {
  .m-text-right {
    text-align: right;
  }
}


section {
  // --panelBgColor: #D4CCFF;
  // background-color: var(--panelBgColor);
  
  // &.feature {
  //   background: url("<%= path %>/texture.png") repeat 50% var(--panelBgColor);
  //   // background-size: 40%;
  // }

  h2 {
    color: black;
  }
  @include mq(desktop) {
    display: flex;
    padding: 0;
    justify-content: center;
  }
  position: relative;
  overflow: hidden;
  &.container {
    &>div {
      flex-basis: 50%;
      // width: 50%;
    }
  }
  .content {
    padding: 0 1rem 1rem;
    // padding-bottom: 10rem;
    // color: white;
    @include mq(desktop) {
      padding: 2rem 4rem 2rem;
    }

    a {
      font-size: 100%;
      text-decoration: underline;
      font-weight: normal;
      // color: white;
    }
  }

  &.dark-text .content {
    color: black;
    a {
      color: black;
    }
  }

  .panel .wrap {
    padding: 0 1rem 0rem 1rem;
  }

  @include mq(desktop) {
    .wrap {
      max-width: 40rem;
    }
    
    .panel .wrap {
      margin-left: auto;
      margin-right: 1.5rem;
    }

  }



  .panel {
    @include mq(desktop) {
      min-height: 100vh;

    }

  }

  .audio {
    position: relative;
    // background: white;
    border-radius: 10px;


    .title {
      // background: #F7F3EB;
      // border-radius: 10px 10px 0 0;
      // text-transform: uppercase;
      // color:black;
      padding: 0.5rem 0rem;
      color: black;
      font-weight: 400;
      font-size: 20/16 + rem;
      font-family: 'Display sans';
    }

    .player-body {
      // padding: 0 2rem;
    }

    @include mq(tablet) {
      // width: 80%;
      margin: 2rem auto;
      max-width: 34rem;
    }

    .desc p {
      font-size: 14/16 + rem;
      color: black;
      line-height: 1.5;
    }

  }
  .bg {
    // background: url("<%= path %>/texture.png") no-repeat 50% var(--panelBgColor);
    // background: no-repeat 50% var(--panelBgColor);
    background-size: cover;
    background-attachment: fixed;
    @include mq(desktop) {
      height: 100vh;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;

    .collage {
      // height: 40vh;
      // @include mq(tablet) {
      //   height: 56vh;
      // }
      padding: 1rem 0;
      position: relative;
      img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        // height: auto;
        width: auto;
      }
      .clip {
        clip-path: circle();
      }
      .clip+.heading {
        padding-top: 1rem;
        // position: relative;
        // margin-top: -4rem;
      }
      // img:nth-child(n+2) {
      //   position: absolute;
      //   top: 0;
      //   left: 50%;
      //   transform: translate3d(-50%, 0, 2px);
      // }

      // img:nth-child(3) {
      //   transform-origin: 380px 364px;
      // }
    }
  }

}

$stand-first-color: #F7B500;
.standfirst {
  padding-top: 2rem;
  background-color: var(--brand-primary);
  .content {
    margin: auto;
    max-width: 40rem;
    color: black;
    font-weight: bold;
    .lines {
      &:before, &:after {
        display: block;
        content: '';
        height: 6px;
        background-color: #fff;
        margin: auto;
        // width: 60%;
      }
      .body {
        padding: 2rem 0;
        width: 95%;
        margin: auto;
        p {
          font-weight: bold;

        }
      }
    }
  }

  .scroll-icon {
    fill: black;
    stroke: black;
  }
}

section.footer {
  background-color: $stand-first-color;

  .disc p {
    font-size: 10/16 + rem;
    font-style: italic;
    line-height: 1.5;
  }

  .content {
    margin: auto;
    max-width: 60rem;
    @include mq($until: desktop ) {
      padding-top: 1rem;

    }
  }
  .cta-wrap {
    margin: auto;
    max-width: 40rem;
    .cta  {
      & a, & p {

        font-weight: 700;
      }

    }
  }
}



  #ShareMe {
    ul li {
      display: inline;
    }
    // li:nth-child(3) a {
    //   background-color: #767676 !important;
    //   svg {
    //     stroke: white;
        
    //   }
    // }

  }

  .share {
    a {
      box-sizing: content-box !important;
      display: flex !important;
      svg {
        width: 24px;
        height: 24px;
        // padding: 2px;
      }
    }
  }

  #Footer .related {
    width: 100%;
  }
  .ClientDetails {
    position: absolute;
    right: 2rem;
    top: 1rem;
  }
  .Title-Container h1 {
    font-family: "Guardian Headline Full";
    font-weight: 100;
  }

  @include mq($until: tablet) {
    #Glabs #Footer .InnerFooter .PartnerZoneLinks {
    flex-basis: 100%;
    }
  }

  .related-items {
    margin-top: 2rem;
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-gap: 10px;
    @include mq(desktop) {
      grid-template-columns: 1fr 1fr;
    }
    .related-item {
      // width: 50%;
      .img {
        margin-bottom: 1rem;
        height: 230/16 + rem;
        background-size: cover;
        background-position: 50%;
      }
      a {
        height: 100%;
        display: block;
        padding: 1rem;
        background: white;
        align-items: center;
        transition: border 200ms ease;
        // transform: rotateZ(0.01deg);
        border: 0px solid currentColor;
        &:hover {
          border-left: 6px solid currentColor;
        }
      }
    }
  }

.break {
  margin-top: 2rem;
  span {
    display: block;
    margin: 2px;
    height: 1px;
    background: #0000007d;
  }
}

.bg-vid-container {
  position: relative;
  height: 90vh;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  header {
    width: 90%;
    max-width: 440px;
    position: relative;

    h1 {
      font-size: 36/16 + rem;
    }
    h2 {
      color: white;
      font-size: 24/16 + rem;
    }
    @include mq(tablet) {
      h1 {
        font-size: 45/16 + rem;
      }
      h2 {
        font-size: 36/16 + rem;
      }

    }
  }
}
.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  video,.image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
  }
}
.center-para {
  max-width: 30rem;
  margin: auto;
  padding: 2rem 0;
  @include mq(tablet) {
    padding: 2rem;
  }
}
.yt-vid {
  width: 80vmin;
  height: 45vmin;
  margin: auto;
  iframe {
    width: 100%;
    height: 100%;
  }
}

.quote-block {

  .quote {
    padding: 2rem 2rem 0;
  }

  .vis {
    margin-top: -1rem;
    img {
      max-width: 100%;
    }
  }

  @include mq(desktop) {
    display: flex;
    width: 70%;
    justify-content: flex-end;
    margin: auto;
    
    .vis {
      width: 70%;
    }
    .quote {
      display: flex;
      width: 40%;
      align-items: center;
      margin-left: 4rem;
      left: 10%;
      height: 100%;
      position: absolute;      
    }
  }
}

.copy-image {
  padding: 1rem;
  .img {
    height: 50vh;
  }
  @include mq(desktop) {
    padding: 0;
    display: flex;
    .copy {
      width: 40rem;
      padding-left: 11rem;
      padding-right: 2rem;
      p:first-child {
        margin-top: 0;
      }
    }
    .img {
      width: 50%;
    }
  }
}

.img-3 {
  height: 50vw;
  width: 90vw;
  margin: auto;
  background-size: cover;

  @include mq(desktop ) {
    height: 48vw;
    width: 80vw;
    max-width: 1200px;
    margin-bottom: 2rem;    
  }
}

.img-4, .img-5 {
  height: 100%;
  background-size: cover;

}

.s3Block2 {
  max-width: 40rem;
  .copy p:first-child {
    margin-top: 0;
  }
  @include mq(desktop) {
    display: flex;
    .img,.copy {
      width: 50%;
    }
  }
}

.img-5-wrap {
  background-size: cover;
  height: 50vh;
  @include mq(desktop) {
    height: auto;
  }
}

.s2Block3 {
  margin-bottom: 2rem;
}

.s3Block2 {
  margin: auto;
  @include mq(desktop) {
    .copy {
      width: 70%;
      padding-right: 2rem;
    }
    .img {
      width: 30%;
    }
    .img-5 {
      min-width: 400px;
    }
  }
}